{% extends 'top_template.html' %}
{% load rest_framework %}
{% block page %}

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .form-parent {
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 30px;
        }

        .center {
            text-align: center;
        }
    </style>
    <script>
        let apiUrl = '/blog/content/' + "{{id}}" + '/'
        fetch(apiUrl).then(response => {
            return response.json();
        }).then(data => {
            document.getElementsByName("content")[0].value = data['content']
        }).catch(err => {
        });
        var x
        var results
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        apiUrl = '/author/authors_except_self/'
        fetch(apiUrl, {
            method: 'GET', credentials: 'same-origin', headers: {
                "X-CSRFToken": csrftoken,
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(response => {
            return response.json();
        }).then(data => {
            results = data.results
            x = document.getElementById("select_author");
            data.results.forEach(function (item, index) {
                var option = document.createElement("option");
                option.text = item.alias_name;
                option.value = item.user;
                x.add(option);
            });
        }).catch(err => {
        });
        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(parseInt(opt.value));
                }
            }
            return result;
        }
        function post() {
            var author_list = getSelectValues(document.getElementById("select_author"))
            let short_content = document.getElementsByName("short_content")[0].value
            let image_url = document.getElementsByName("image_url")[0].value
            let content = document.getElementsByName("content")[0].value
            let title = document.getElementsByName("title")[0].value


            apiUrl = '/blog/' + "{{id}}" + '/'
            fetch(apiUrl, {
                method: 'PATCH', credentials: 'same-origin', headers: {
                    "X-CSRFToken": csrftoken,
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
                "body": JSON.stringify({ author_list, short_content, image_url, content, title })
            }).then(response => {
                return response.json();
            }).then(data => {
                window.location.replace("http://127.0.0.1:8000/blog/" + data['id']);
            }).catch(err => {
            });

        }
    </script>
</head>

<body>
    <h2 class="center"> EDIT BLOG </h2>
    <div class="form-parent">
        <!-- <form action="{% url 'blog-edit-post' pk=id %}" method="POST"> -->
        {% csrf_token %}
        {% render_form serializer template_pack='rest_framework/vertical' %}
        <select multiple id="select_author" class="form-control">
        </select>
        <!-- <input class="btn btn-default" type="submit" value="Save"> -->
        <button onclick="post()" type="button" class="btn btn-dark btn btn-default mr-auto p-2" href="edit_post">
            Save
        </button>
        <!-- </form> -->
    </div>

    <div class="form-parent"><a href="/blog/{{id}}">Discard changes and view blog</a></div>



</body>


</html>
{% endblock %}