{% extends 'top_template.html' %}
{% load bootstrap4 %}
{% load rest_framework %}
{% block page %}
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>



    <!-- Load our React component. -->
    <style>
        .media {
            margin-left: 20px;
        }

        .heading {
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        /* .nav {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
        } */
    </style>
    <h2 class="heading">Author Detail</h2>
    <div class="media">
        <div class="media-left media-middle">
            <a href="/blog/{{ id }}">
                <img class="media-object" src="{{image_url}}" style="width:200px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{alias_name}}</h4>
            <h4 class="media-heading">{{user_details.first_name}} {{user_details.last_name}}</h4>
            <h4 class="media-heading">{{user_details.email}}</h4>
            <p class="media-heading">{{bio}}</p>
        </div>
    </div>

    <h3 class="heading">List of blogs by the author</h3>
    {% for blog in blogs %}
    <div class="media">
        <div class="media-left media-middle">
            <a href="/blog/{{ blog.id }}">
                <img class="media-object" src="{{blog.image_url}}" width="100" height="100">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{blog.title}}</h4>
            <p class="media-heading">{{blog.short_content|truncatewords:"10"}}</p>
        </div>
    </div>
    {% endfor %}

    <!-- <div id="like_button_container"></div> -->

</body>

</html>
{% endblock %}